.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &__top {
        width: 100%;
        background-color: var(--dark-primary);
        padding: 0 10vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (min-width: 992px) and (max-width: 1439.98px) {
            padding: 10px 40px;
            justify-content: space-between;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            padding: 10px 40px;
            justify-content: space-between;
        }
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            padding: 0;
            flex-direction: column;
        }
        @media screen and (max-width: 464.98px) {
            padding: 0;
            flex-direction: column;
        }
    }
    &__middle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        padding: 13.5px 10vw;
        background-color: var(--light-primary);
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            padding: 20px 40px;
            flex-wrap: wrap;
            gap: 20px;
        }
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            padding: 10px 20px;
            justify-content: space-between;
        }
        @media screen and (max-width: 464.98px) {
            padding: 10px 20px;
            justify-content: center;
        }
    }
    &__bottom {
        width: 100%;
        padding: 0 10vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--light-primary);
        border: 1px solid rgba(0, 0, 0, 0.15);
        @media screen and (min-width: 992px) and (max-width: 1439.98px) {
            padding: 10px 40px;
            justify-content: space-between;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            padding: 10px 40px;
            justify-content: space-between;
        }
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            padding: 10px 20px;
            justify-content: space-between;
        }
        @media screen and (max-width: 464.98px) {
            padding: 10px 20px;
            justify-content: center;
        }
    }
    &__mail {
        display: flex;
        align-items: center;
        gap: 10px;
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            width: 100%;
            justify-content: center;
            padding: 13.5px 10vw;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        }
        @media screen and (max-width: 464.98px) {
            width: 100%;
            justify-content: center;
            padding: 13.5px 10vw;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        }
    }
    &__contacts {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
